<<<<<<< HEAD

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
=======

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
>>>>>>> 4c759cad5e394b6104e32816cf634bbda664dfea
}